.block1-back {
  background-image: url('./assets/images/sales1.webp');
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 1600px) {
  .block1-back {
    height: 50vh;
  }
}

@media (max-width: 1279px) and (min-width: 1024px) {
  .block1-back {
    background-image: url(/assets/images/sales.webp);
    height: 40vh;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .block1-back {
    background-image: url(/assets/images/sales2.webp);
    height: 25vh;
    // background-size: cover;
    background-position: center;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .block1-back {
    background-image: url(/assets/images/sales3.webp);
    height: 25vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 480px) and (min-width: 376px) {
  .block1-back {
    background-image: url(/assets/images/sales3.webp);
    height: 20vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 375px) {
  .block1-back {
    background-image: url(/assets/images/sales3.webp);
    height: 18vh;
    background-size: cover;
    background-position: center;
  }
}

