.fav {
    width: 90%;
    margin: auto 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-title {
        font-weight: 600;
        font-size: 20px;
    }
    &-str {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
    }
}