.enter {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-text {
        font-weight: 500;
        font-size: 18px;
    }

    form {
        display: flex;
        width: 90%;
        justify-content: space-between;


        input {
            width: 80%;
            border: 1px solid var(--grey);
            color: var(--grey);
            border-radius: 40px;
            padding: 0 50px 0 16px;

        }

    }

    .form-btn {
        background-color: transparent;
        display: flex;
        text-align: center;
        border: 1px solid var(--t-grey);
        gap: 10px;
        border-radius: 10px;
        padding: 10px;
        color: var(--t-grey);
        transition: all 0.3s ease;
        display: flex;
        white-space: nowrap;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            color: var(--gold);
        }

        &:active {
            background-color: var(--gold);
        }
    }
}



@media (max-width: 1024px) {
    .enter {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-text {
            font-weight: 500;
            font-size: 16px;
        }

        form {
            width: 100%;

            input {
                width: 70%;
            }
        }
    }
}


@media (max-width: 767px) {
    .enter {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-text {
            font-weight: 500;
            font-size: 16px;
        }

        form {
            width: 100%;

            input {
                width: 70%;
            }
        }
    }
}


@media (max-width: 480px) {
    .enter {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-text {
            font-weight: 500;
            font-size: 16px;
        }

        form {
            width: 100%;

            input {
                width: 70%;
            }
        }
    }
}