.product {
    width: 30%;
    min-width: 100px;
    height: 370px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    position: relative;

    &-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: var(--gold);
        color: #fff;
        font-weight: 600;
        font-size: 24px;
        text-align: center;

    }
}

@media (min-width: 1280px) {
    .product {
        width: 30%;
        height: 370px;
    }
}

@media (max-width: 1279px) and (min-width: 768px) {
    .podborki-str {
        justify-content: space-between;
    }

    .product {
        width: 48%;
        height: 320px;
    }

    .product-text {
        font-size: 18px;
        padding: 14px 8px;
    }
}

@media (max-width: 767px) {
    .podborki-str {
        flex-direction: column;
        gap: 16px;
    }

    .product {
        width: 100%;
        height: 300px;
    }

    .product-text {
        font-size: 16px;
        padding: 12px 6px;
    }
}