<div class="catal">
    <div class="catal-title"><a href="index.html">Главная</a> — Каталог</div>
    @@include('../components/_podborki.html')
    <div class="soft">
        <div class="soft-str">
            <div class="catal-title">Мягкая мебель</div>
            <a href="soft-m.html">@@include('../components/_btn-more.html',{"text": "Перейти в раздел"})</a>

        </div>
        <div class="soft-strs">
            
            @@include('../components/_otziv.html',
            {"img": "assets/images/tovar5",
            "title": "Диван Много мебели BOSS Loft, еврокнижка"})
            @@include('../components/_otziv.html',
            {"img": "assets/images/tovar6",
            "title": "Диван Много мебели BOSS MINI, еврокнижка"})
            @@include('../components/_otziv.html',
            {"img": "assets/images/tovar7",
            "title": "Диван Много мебели BOSS 2, еврокнижка"})
            @@include('../components/_otziv.html',
            {"img": "assets/images/tovar8",
            "title": "Диван Много мебели KINGMAN, еврокнижка"})
        </div>
    </div>
    <div class="soft">
        <div class="soft-str">
            <div class="catal-title">Корпусная мебель</div>
            <a href="catalog.html">@@include('../components/_btn-more.html',{"text": "Перейти в раздел"})</a>

        </div>
        <div class="soft-strs">
            @@include('../components/_otziv.html',
            {"img": "assets/images/marbel",
            "title": "Гардеробные Артис Марбелья комплект 2А"})
            @@include('../components/_otziv.html',
            {"img": "assets/images/granada",
            "title": "Гостиные Артис Гранада коллекция 23"})
            @@include('../components/_otziv.html',
            {"img": "assets/images/eliz",
            "title": "Гостиные Артис коллекция Елизавета 5"})
            @@include('../components/_otziv.html',
            {"img": "assets/images/coleliz",
            "title": "Мебель Артис коллекция Елизавета 3"})
        </div>
    </div>

</div>