<div class="fav">
    <div class="fav-title">
        <a href="index.html">Главная</a> — Избранное
    </div>
    @@include('../components/_enter.html')
    <div class="fav-str">
        @@include('../components/_otziv2.html',
        {"img": "assets/images/tovar5.webp",
        "title": "Диван Много мебели BOSS Loft, еврокнижка"})
        @@include('../components/_otziv2.html',
        {"img": "assets/images/tovar6",
        "title": "Диван Много мебели BOSS MINI, еврокнижка"})
        @@include('../components/_otziv2.html',
        {"img": "assets/images/tovar7",
        "title": "Диван Много мебели BOSS 2, еврокнижка"})
        @@include('../components/_otziv2.html',
        {"img": "assets/images/tovar8",
        "title": "Диван Много мебели KING 2, еврокнижка"})
    </div>
    @@include('../components/_otzivs.html')
</div>