<div class="content-form">
    <div class="content-title"><a href="index.html">Главная</a> — Контакты</div>

    <section class="content-form-feedback">
        <div class="content-form-feedback__inner">
            <div class="content-title2">Написать нам</div>
            <form class="content-form-feedback__form">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Тема обращения" required>
                <input type="email" placeholder="email.@com" required>

                <div class="content-form-textarea-wrap">
                    <textarea placeholder="Введите сообщение..." required></textarea>
                </div>
                <button type="submit" class="content-form-send-btn">Отправить</button>
            </form>
        </div>
    </section>

    
    
</div>
