<div class="softer">
    <div class="softer-title"><a href="index.html">Главная</a> — Мягкая мебель</div>
    <div class="softer-strs">
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar5",
        "title": "Диван Много мебели BOSS Loft, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar6",
        "title": "Диван Много мебели BOSS MINI, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar7",
        "title": "Диван Много мебели BOSS 2, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar8",
        "title": "Диван Много мебели KING 2, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar9",
        "title": "Диван Много мебели АМСТЕРДАМ, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar10",
        "title": "Диван Много мебели АТЛАНТА, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar11",
        "title": "Диван Много мебели МАДРИД, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar12",
        "title": "Диван Много мебели угловой BOSS MAX Rich"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar13",
        "title": "Диван Много мебели угловой BOSS MAX, еврокнижка"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar14",
        "title": "Диван Много мебели угловой МАРСЕЛИН"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar15",
        "title": "Диван Много мебели угловой НЬЮ-ЙОРК"})
        @@include('../components/_otziv.html',
        {"img": "/assets/images/tovar16",
        "title": "Диван с ортопедическим матрасом Амстердам"})
    </div>
    <div class="softer-btn">@@include('../components/_btn-more.html',{"text": "Смотреть больше"})</div>
    
</div>