<div class="otzivs">
    <div class="otzivs-st">
        <div class="otzivs-text">Наши предложения</div>
        <a href="catalog.html">@@include('../components/_btn-more.html',{"text": "Перейти в  каталог"})</a>
      
    </div>
    <div class="otzivs-str">
        @@include('../components/_otziv.html',
        {"img": "assets/images/tovar1", 
        "title": "Кухня из массива - модель Вилладжио"})
        @@include('../components/_otziv.html',
        {"img": "assets/images/tovar2", 
        "title": "Набор диван и кресло Жан-Жак"})
        @@include('../components/_otziv.html',
        {"img": "assets/images/tovar3", 
        "title": "Угловой диван Добрыня (каре)"})
        @@include('../components/_otziv.html',
        {"img": "assets/images/tovar4", 
        "title": "Современная мебель для гостиных"})
    </div>
    <div class="otzivs-znak">
        <picture></picture>
    </div>
</div>