<div class="podborki">
   
    <div class="podborki-str">
        @@include('../components/_single-product.html',{"img": "/assets/images/cat1.webp", "text": "Мягкая мебель"})
        @@include('../components/_single-product.html',{"img": "/assets/images/cat2.webp", "text": "Кровати"})
        @@include('../components/_single-product.html',{"img": "/assets/images/cat3.webp", "text": "Корпусная мебель"})
        @@include('../components/_single-product.html',{"img": "/assets/images/cat4.webp", "text": "Кухни"})
        @@include('../components/_single-product.html',{"img": "/assets/images/cat5.webp", "text": "Тумбы и комоды"})
        @@include('../components/_single-product.html',{"img": "/assets/images/cat6.webp", "text": "Диваны и кресла"})
    </div>
    
</div>